.weatherBg
{
  background:url("https://home.openweathermap.org/assets/history_banner-3e72b47aa91f9e874b5e56197a88feacafd37ad4eaccfa3974302b37004ec7f5.png");
  height:50vh;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
}
.heading {
  color:white;
  font-weight:700;
}
.wetherResultBox{
  margin:auto;
  width:300px;
  height:300px;
}
.weatherIcon
{
  margin-top:2rem;
  width:100px;
  height:100px;
}
.weatherCity
{
  font-size:35px;
}
.weatherTemp {
  font-size:55px;
  font-weight:700px;
}